html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

canvas {
  display: block;
}

.footer {
  position: fixed;
  right: 35vw;
  bottom: 8vh;
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer button{
  height: 8vh;
  width: 13vh;
  border-radius: 2vh;
  font-size: 1.2em;
  border: 0;
  color: white;
  text-decoration: none;
}

#smile {
  background-color: #4CAF50;
}

#save {
  background-color: #008CBA;
}